.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  width: 344px;
  height: 300px;
  left: calc(50vw - 344px) / 2;
  top: 200px;
  background: #ffffff;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  z-index: 100;
}

.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: white;
  border: none;
  background-image: url(/public/Icons/close.svg);
  width: 20px;
  height: 20px;
  background-size: contain;
}

.closeButton:hover {
  cursor: pointer;
}

.input {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 8px;
  box-sizing: border-box;
  width: 296px;
  min-width: 296px;
  height: 40px;
  border: 1px solid #e1e3e6;
  border-radius: 8px;
}

.input::placeholder {
  color: var(--color-grey-txt);
  font-size: 14px;
  line-height: 16px;
  opacity: 1;
}

.input:focus {
  outline: none;
}

.buttonContainer {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.title {
  margin: 0 0 16px 0;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  color: var(--color-dark-grey);
}

.fieldName {
  margin: 0 0 8px 0;
}

.fieldName::after {
  content: '*';
  color: var(--color-orange);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
