.cardContainer {
  display: flex;
  flex-direction: column;
}

.actorsPanel {
  gap: 24px;
  display: flex;
}

.actorContainer {
  display: flex;
  flex-direction: column;
}

.imgContainer {
  border-radius: 8px;
  width: 160px;
  height: 228px;
  background-size: cover;
}

.name {
  color: var(--color-dark-gray);
  font-size: 14px;
}

.title {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 24px;
}
