.background {
  background-color: var(--color-bg-grey);
  width: full;
  min-height: calc(100vh - 88px);
  display: flex;
  padding: 20px 32px;
  gap: 16px;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}
