:root {
  --color-orange: #ff5500;
  --color-orange-hover: #e94e00;
  --color-dark-grey: #333333;
  --color-light-gray: #ababab;
  --color-black-txt: #1b1f23;
  --color-grey-txt: #999fa6;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  src: url('/SFUIText-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  box-sizing: border-box;
}
