.loader {
  margin: auto;
  background-image: url(/loading.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
